.container {
    margin: 20px;
}

.random-film {
    padding: 10px;
    border: 2px solid #4CAF50;
}


  

  
  .tribe-image img {
    max-width: 100px;

    height: auto;
  }
  
  .select-button {
    margin-top: 10px;
  }
  